# Node modules e info
node_modules/
package-lock.json

# Variables de entorno
.env
.env.*

# Logs
logs/
*.log

# Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.class
*.so
venv/
ENV/
.venv/
env/

# Modelos de Machine Learning e Imágenes
*.pt
*.arff
*.onnx
yolov8n.pt

# Builds y temporales
dist/
build/
tmp/
temp/

# Uploads
uploads/
